---
import "../styles/global.css";
const { title = "Catálogo" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body class="bg-gray-100 text-gray-800">

    <!-- header -->
    <header class="bg-white shadow sticky top-0 z-10">
      <div class="max-w-6xl mx-auto p-4 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">🛍️ Catálogo</a>
      </div>
    </header>

    <!-- contenido -->
    <main class="max-w-6xl mx-auto p-6">
      <slot />
    </main>

  </body>
</html>