---
import "../styles/global.css";
const { title = "Noctura" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen bg-gradient-to-br from-indigo-700 via-purple-600 to-pink-500 text-white">

    <header class="fixed top-0 left-0 z-50 ">
     
        <a href="/" class="text-xl md:text-2xl font-bold">
         <img src="/src/assets/Logo.png" alt="Logo" class="h-20 md:h-32 object-contain" />
        </a>
    
    </header>

    <main class="max-w-6xl mx-auto p-4 md:p-6">
      <slot />
    </main>

  </body>
</html>